---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/quotations?format=json&key=U7EUDH2475DDMB7ISZ2I4FR0AL9CS7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"315672147ce26575791931b3fade96f7"
    body:
      encoding: ASCII-8BIT
      string: '{"by":"default","valid_key":false,"results":{"currencies":{"source":"BRL","USD":{"name":"Dollar","buy":3.1284,"sell":3.1274,"variation":0.1},"EUR":{"name":"Euro","buy":3.6884,"sell":3.6866,"variation":0.0},"GBP":{"name":"Pound
        Sterling","buy":4.075,"sell":4.0717,"variation":-0.21},"ARS":{"name":"Argentine
        Peso","buy":0.1766,"sell":0.1764,"variation":-0.51},"BTC":{"name":"Bitcoin","buy":11208.432,"sell":11183.66,"variation":19.591}},"stocks":{"IBOVESPA":{"name":"BM\u0026F
        BOVESPA","location":"Sao Paulo, Brazil","variation":1.2},"NASDAQ":{"name":"NASDAQ
        Stock Market","location":"New York City, United States","variation":0.45},"CAC":{"name":"CAC
        40","location":"Paris, French","variation":0.09},"NIKKEI":{"name":"Nikkei
        225","location":"Tokyo, Japan","variation":0.52}},"available_sources":["BRL"]},"execution_time":0.0,"from_cache":true}'
  recorded_at: Mon, 07 Aug 2017 17:00:27 GMT
recorded_with: VCR 3.0.3
